@use "./variables.scss" as *;

@use "sass:list";

.book-bible-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;

    .options {
        display: none; // Mudar depois
    }

    .chapter {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        margin-block: 30px;
        pointer-events: none;
        position: relative;
        user-select: none;
        
        .chapter-number {
            animation: appear-from-top 500ms 500ms both;
            display: inline-block;
        }
    }

    .verses {
        display: block;
        width: 100%;

        article {
            display: inline;
            margin: 0;
            padding: 0;

            :where(.verse-number, .verse-text) {
                display: inline;
            }

            .verse-number {
                color: $muted-color;
                font-size: .5rem;
                font-weight: 600;
                margin-inline: 5px;
                opacity: .75;
                pointer-events: none;
                user-select: none;
            }

            .verse-text {
                cursor: default;
                line-height: 1.8;
            }

            @mixin mark-range($reference, $start, $end: null) {
                $book: list.nth($reference, 1);
                $chapter: list.nth($reference, 2);
                $verse: list.nth($reference, 3);
                $red: #b11919;
                
                @if $end {
                    &.#{$book}.c#{$chapter}v#{$verse} .word:nth-child(n + #{$start}):nth-child(-n + #{$end}) {
                        color: $red;
                    }
                } @else {
                    &.#{$book}.c#{$chapter}v#{$verse} .word:nth-child(n + #{$start}) {
                        color: $red;
                    }
                }
            }

            @mixin mark-verses-range($reference, $start, $end) {
                $book: list.nth($reference, 1);
                $chapter: list.nth($reference, 2);
                
                @for $verse from $start through $end {
                    @include mark-range(($book, $chapter, $verse), 1);
                }
            }

            &.ARC {
                // Mateus
                @include mark-range((mt, 3, 15), 5, 15);
                @include mark-range((mt, 4, 4), 5, 24);
                @include mark-range((mt, 4, 7), 3, 11);
                @include mark-range((mt, 4, 10), 4, 18);
                @include mark-range((mt, 4, 17), 10, 17);
                @include mark-range((mt, 4, 19), 3, 12);
                @include mark-verses-range((mt, 5), 3, 48);
                @include mark-verses-range((mt, 6), 1, 34);
                @include mark-verses-range((mt, 7), 1, 27);
                @include mark-range((mt, 8, 3), 8, 10);
                @include mark-range((mt, 8, 4), 4);
                @include mark-range((mt, 8, 7), 5);
                @include mark-range((mt, 8, 10), 12);
                @include mark-verses-range((mt, 8), 11, 12);
                @include mark-range((mt, 8, 13), 6, 12);
                @include mark-range((mt, 8, 20), 4);
                @include mark-range((mt, 8, 22), 4);
                @include mark-range((mt, 8, 26), 4, 10);
                @include mark-range((mt, 8, 32), 5, 5);
                @include mark-range((mt, 9, 2), 10);
                @include mark-range((mt, 9, 4), 8);
                @include mark-range((mt, 9, 5), 1);
                @include mark-range((mt, 9, 6), 1, 16);
                @include mark-range((mt, 9, 6), 22);
                @include mark-range((mt, 9, 9), 16, 16);
                @include mark-range((mt, 9, 12), 5);
                @include mark-range((mt, 9, 13), 1);
                @include mark-range((mt, 9, 15), 4);
                @include mark-verses-range((mt, 9), 16, 17);
                @include mark-range((mt, 9, 22), 7, 15);
                @include mark-range((mt, 9, 24), 2, 10);
                @include mark-range((mt, 9, 28), 14, 20);
                @include mark-range((mt, 9, 29), 7);
                @include mark-range((mt, 9, 30), 11);
                @include mark-range((mt, 9, 37), 6);
                @include mark-range((mt, 9, 38), 1);
                @include mark-range((mt, 10, 5), 9);
                @include mark-verses-range((mt, 10), 6, 42);
                @include mark-range((mt, 11, 4), 5);
                @include mark-verses-range((mt, 11), 5, 6);
                @include mark-range((mt, 11, 7), 14);
                @include mark-verses-range((mt, 11), 8, 19);
                @include mark-verses-range((mt, 11), 21, 24);
                @include mark-range((mt, 11, 25), 6);
                @include mark-verses-range((mt, 11), 26, 30);
                @include mark-range((mt, 12, 3), 5);
                @include mark-verses-range((mt, 12), 4, 8);
                @include mark-range((mt, 12, 11), 5);
                @include mark-range((mt, 12, 12), 1);
                @include mark-range((mt, 12, 13), 5, 7);
                @include mark-range((mt, 12, 25), 8);
                @include mark-verses-range((mt, 12), 26, 37);
                @include mark-range((mt, 12, 39), 7);
                @include mark-verses-range((mt, 12), 40, 45);
                @include mark-range((mt, 12, 48), 9);
                @include mark-range((mt, 12, 49), 11);
                @include mark-range((mt, 12, 50), 1);
                @include mark-range((mt, 13, 3), 9);
                @include mark-verses-range((mt, 13), 4, 9);
                @include mark-range((mt, 13, 11), 4);
                @include mark-verses-range((mt, 13), 12, 23);
                @include mark-range((mt, 13, 24), 5);
                @include mark-verses-range((mt, 13), 25, 30);
                @include mark-range((mt, 13, 31), 6);
                @include mark-range((mt, 13, 32), 1);
                @include mark-range((mt, 13, 33), 5);
                @include mark-range((mt, 13, 37), 5);
                @include mark-verses-range((mt, 13), 38, 50);
                @include mark-range((mt, 13, 51), 4, 7);
                @include mark-range((mt, 13, 52), 4);
                @include mark-range((mt, 13, 57), 8);
                @include mark-range((mt, 14, 16), 5);
                @include mark-range((mt, 14, 18), 4);
                @include mark-range((mt, 14, 27), 7);
                @include mark-range((mt, 14, 29), 4, 4);
                @include mark-range((mt, 14, 31), 10);
                @include mark-range((mt, 15, 3), 5);
                @include mark-verses-range((mt, 15), 4, 9);
                @include mark-range((mt, 15, 10), 8);
                @include mark-range((mt, 15, 11), 1);
                @include mark-range((mt, 15, 13), 5);
                @include mark-range((mt, 15, 14), 1);
                @include mark-range((mt, 15, 16), 4);
                @include mark-verses-range((mt, 15), 17, 20);
                @include mark-range((mt, 15, 24), 5);
                @include mark-range((mt, 15, 26), 5);
                @include mark-range((mt, 15, 28), 6, 20);
                @include mark-range((mt, 15, 32), 8);
                @include mark-range((mt, 15, 34), 4, 6);
                @include mark-range((mt, 16, 2), 5);
                @include mark-range((mt, 16, 3), 1);
                @include mark-range((mt, 16, 4), 1, 20);
                @include mark-range((mt, 16, 6), 4);
                @include mark-range((mt, 16, 8), 6);
                @include mark-verses-range((mt, 16), 9, 11);
                @include mark-range((mt, 16, 13), 15);
                @include mark-range((mt, 16, 15), 3);
                @include mark-range((mt, 16, 17), 5);
                @include mark-verses-range((mt, 16), 18, 19);
                @include mark-range((mt, 16, 23), 7);
                @include mark-range((mt, 16, 24), 7);
                @include mark-verses-range((mt, 16), 25, 28);
                @include mark-range((mt, 17, 7), 7);
                @include mark-range((mt, 17, 9), 10);
                @include mark-range((mt, 17, 11), 5);
                @include mark-range((mt, 17, 12), 1);
                @include mark-range((mt, 17, 17), 5);
                @include mark-range((mt, 17, 20), 5);
                @include mark-range((mt, 17, 21), 1);
                @include mark-range((mt, 17, 22), 8);
                @include mark-range((mt, 17, 23), 1, 7);
                @include mark-range((mt, 17, 25), 13);
                @include mark-range((mt, 17, 26), 7);
                @include mark-range((mt, 17, 27), 1);
                @include mark-range((mt, 18, 3), 3);
                @include mark-verses-range((mt, 18), 4, 20);
                @include mark-range((mt, 18, 22), 4);
                @include mark-verses-range((mt, 18), 23, 35);
                @include mark-range((mt, 19, 4), 5);
                @include mark-verses-range((mt, 19), 5, 6);
                @include mark-range((mt, 19, 8), 3);
                @include mark-range((mt, 19, 9), 1);
                @include mark-range((mt, 19, 11), 5);
                @include mark-range((mt, 19, 12), 1);
                @include mark-range((mt, 19, 14), 4);
                @include mark-range((mt, 19, 17), 4);
                @include mark-range((mt, 19, 18), 7);
                @include mark-range((mt, 19, 19), 1);
                @include mark-range((mt, 19, 21), 3);
                @include mark-range((mt, 19, 23), 7);
                @include mark-range((mt, 19, 24), 1);
                @include mark-range((mt, 19, 26), 7);
                @include mark-range((mt, 19, 28), 4);
                @include mark-verses-range((mt, 19), 29, 30);
                @include mark-verses-range((mt, 20), 1, 16);
                @include mark-verses-range((mt, 20), 18, 19);
                @include mark-range((mt, 20, 21), 4, 5);
                @include mark-range((mt, 20, 22), 5, 30);
                @include mark-range((mt, 20, 23), 4);
                @include mark-range((mt, 20, 25), 9);
                @include mark-verses-range((mt, 20), 26, 28);
                @include mark-range((mt, 20, 32), 7);
                @include mark-verses-range((mt, 21), 2, 3);
                @include mark-range((mt, 21, 13), 3);
                @include mark-range((mt, 21, 16), 12);
                @include mark-range((mt, 21, 19), 19, 24);
                @include mark-range((mt, 21, 21), 5);
                @include mark-range((mt, 21, 22), 1);
                @include mark-range((mt, 21, 24), 5);
                @include mark-range((mt, 21, 25), 1, 11);
                @include mark-range((mt, 21, 27), 10);
                @include mark-verses-range((mt, 21), 28, 30);
                @include mark-range((mt, 21, 31), 1, 8);
                @include mark-range((mt, 21, 31), 15);
                @include mark-verses-range((mt, 21), 32, 40);
                @include mark-range((mt, 21, 42), 3);
                @include mark-verses-range((mt, 21), 43, 44);
                @include mark-verses-range((mt, 22), 2, 14);
                @include mark-range((mt, 22, 18), 8);
                @include mark-range((mt, 22, 19), 1, 5);
                @include mark-range((mt, 22, 20), 4);
                @include mark-range((mt, 22, 21), 9);
                @include mark-range((mt, 22, 29), 5);
                @include mark-verses-range((mt, 22), 30, 32);
                @include mark-range((mt, 22, 37), 4);
                @include mark-verses-range((mt, 22), 38, 40);
                @include mark-range((mt, 22, 42), 2, 10);
                @include mark-range((mt, 22, 43), 3);
                @include mark-verses-range((mt, 22), 44, 45);
                @include mark-range((mt, 23, 2), 2);
                @include mark-verses-range((mt, 23), 3, 39);
                @include mark-range((mt, 24, 2), 5);
                @include mark-range((mt, 24, 4), 5);
                @include mark-verses-range((mt, 24), 5, 51);
                @include mark-verses-range((mt, 25), 1, 46);
                @include mark-range((mt, 26, 2), 1);
                @include mark-range((mt, 26, 10), 6);
                @include mark-verses-range((mt, 26), 11, 13);
                @include mark-range((mt, 26, 18), 4);
                @include mark-range((mt, 26, 21), 5);
                @include mark-range((mt, 26, 23), 5);
                @include mark-range((mt, 26, 24), 1);
                @include mark-range((mt, 26, 25), 15);
                @include mark-range((mt, 26, 26), 19);
                @include mark-range((mt, 26, 27), 10);
                @include mark-verses-range((mt, 26), 28, 29);
                @include mark-range((mt, 26, 31), 5);
                @include mark-range((mt, 26, 32), 1);
                @include mark-range((mt, 26, 34), 3);
                @include mark-range((mt, 26, 36), 16);
                @include mark-range((mt, 26, 38), 4);
                @include mark-range((mt, 26, 39), 16);
                @include mark-range((mt, 26, 40), 13);
                @include mark-range((mt, 26, 41), 1);
                @include mark-range((mt, 26, 42), 7);
                @include mark-range((mt, 26, 45), 9);
                @include mark-range((mt, 26, 46), 1);
                @include mark-range((mt, 26, 50), 5, 8);
                @include mark-range((mt, 26, 52), 4);
                @include mark-verses-range((mt, 26), 53, 54);
                @include mark-range((mt, 26, 55), 6);
                @include mark-range((mt, 26, 56), 1, 12);
                @include mark-range((mt, 26, 64), 3);
                @include mark-range((mt, 26, 75), 11, 19);
                @include mark-range((mt, 27, 11), 24);
                @include mark-range((mt, 27, 46), 12, 15);
                @include mark-range((mt, 27, 46), 18);
                @include mark-range((mt, 28, 9), 19, 21);
                @include mark-range((mt, 28, 10), 4);
                @include mark-range((mt, 28, 18), 6);
                @include mark-range((mt, 28, 19), 1);
                @include mark-range((mt, 28, 20), 1, 25);
            }
        }

        + .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-block: 30px;
            width: 100%;

            .navigation-button {
                all: unset;
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 5px;
                justify-content: center;
                pointer-events: none;

                &.previous::after, &.next::before {
                    content: attr(aria-details);
                    font-size: .85rem;
                    font-weight: 100;
                }

                svg {
                    cursor: pointer;
                    pointer-events: all;
                    transition: all 200ms ease;
                    user-select: none;

                    @each $theme in ("dark", "light") {
                        @media (prefers-color-scheme: #{$theme}) {
                            @if $theme == "light" {
                                fill: $dark-color;
                            } @else {
                                fill: $light-color;
                            }
                        }
                    }

                    &:hover:not(:active) {
                        opacity: .5;
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}
