@use "./variables.scss" as *;

.book-bible-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;

    .options {
        display: none; // Mudar depois
    }

    .chapter {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        margin-block: 30px;
        pointer-events: none;
        position: relative;
        user-select: none;
        
        .chapter-number {
            animation: appear-from-top 500ms 500ms both;
            display: inline-block;
        }
    }

    .verses {
        display: block;
        width: 100%;

        article {
            display: inline;
            margin: 0;
            padding: 0;
            
            :where(.verse-number, .verse-text) {
                display: inline;
            }

            .verse-number {
                color: $muted-color;
                font-size: .5rem;
                font-weight: 600;
                margin-inline: 5px;
                opacity: .75;
                pointer-events: none;
                user-select: none;
            }

            .verse-text {
                cursor: default;
                line-height: 1.8;
                white-space: pre-line;

                .word {
                    position: relative;
                }
            }

            .verse-title {
                cursor: default;
                font-size: 1.3rem;
                margin-block: 20px;

                + .verse-number {
                    margin-left: 20px;
                }
            }
        }
        
        + .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-block: 30px;
            width: 100%;

            .navigation-button {
                all: unset;
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 5px;
                justify-content: center;
                pointer-events: none;

                &.previous::after, &.next::before {
                    content: attr(aria-details);
                    font-size: .85rem;
                    font-weight: 100;
                }

                svg {
                    cursor: pointer;
                    pointer-events: all;
                    transition: all 200ms ease;
                    user-select: none;

                    @each $theme in ("dark", "light") {
                        @media (prefers-color-scheme: #{$theme}) {
                            @if $theme == "light" {
                                fill: $dark-color;
                            } @else {
                                fill: $light-color;
                            }
                        }
                    }

                    &:hover:not(:active) {
                        opacity: .5;
                        transform: scale(1.5);
                    }
                }
            }
        }
    }

    .red-letter {
        color: #b11919;
    }
}
