@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400..800&display=swap");

* {
    box-sizing: border-box;
    font-family: "Rethink Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

@each $theme in ("dark", "light") {
    @media (prefers-color-scheme: #{$theme}) {
        $light-color: #bababa;
        $dark-color: #121212;

        body {
            @if $theme == "light" {
                background-color: $light-color;
                color: $dark-color;
            } @else {
                background-color: $dark-color;
                color: $light-color;
            }
        }
    }
}

[class$="page"] {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}
