@use "./variables.scss" as *;

@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400..800&display=swap");

* {
    box-sizing: border-box;
    font-family: "Rethink Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;

    &::selection {
        background: $primary-color;
        color: $dark-color;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background: $muted-color;
        border-radius: 20px;
        cursor: default;

        &:hover,
        &:active {
            background: #{$muted-color}98;
        }
    }
}

@each $theme in ("dark", "light") {
    @media (prefers-color-scheme: #{$theme}) {
        body {
            @if $theme == "light" {
                background-color: $light-color;
                color: $dark-color;
            } @else {
                background-color: $dark-color;
                color: $light-color;
            }
        }
    }
}

footer {
    color: $muted-color;
    font-size: .75rem;
    padding-inline: 10px;
    pointer-events: none;
    text-align: center;
    user-select: none;
}

[class$="page"] {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}
