@use "./variables.scss" as *;

header {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    user-select: none;

    .logo {
        letter-spacing: -.5px;

        span {
            color: $primary-color;
        }
    }
    
    .navbar {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;

        .navbar-item {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 10px;

            svg {
                fill: $primary-color;
            }
        }
    }

    &::after {
        background-color: $muted-color;
        border-radius: 20px;
        content: "";
        filter: brightness(100%);
        height: 2px;
        inset: 0;
        left: 50%;
        opacity: .15;
        position: absolute;
        top: 100%;
        transform: translate(-50%);
        width: calc(99% + 2.5px);
    }
}
