@use "./variables.scss" as *;

header {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    user-select: none;

    .logo {
        letter-spacing: -.5px;

        span {
            color: $primary-color;
        }
    }
    
    .navbar {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;

        .navbar-item {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 5px;
            
            .navbar-item-button {
                all: unset;
                align-items: inherit;
                backdrop-filter: blur(10px);
                background: #{$muted-color}15;
                border-radius: 20px;
                border: 1px solid #{$muted-color}50;
                cursor: pointer;
                display: inherit;
                flex-direction: inherit;
                font-size: .9rem;
                font-weight: 600;
                gap: 5px;
                padding: 8px 18px;
                transition: all 300ms ease;
                user-select: none;
                
                svg {
                    fill: $primary-color;
                    transition: all 300ms ease;
                }

                &:hover:not(:active) {
                    background: $primary-color;
                    transform: translateY(-2px);
                    
                    svg {
                        @each $theme in ("dark", "light") {
                            @media (prefers-color-scheme: #{$theme}) {
                                @if $theme == "light" {
                                    fill: $light-color;
                                } @else {
                                    fill: $dark-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &::after {
        background-color: $muted-color;
        border-radius: 20px;
        content: "";
        filter: brightness(100%);
        height: 2px;
        inset: 0;
        left: 50%;
        opacity: .15;
        position: absolute;
        top: 100%;
        transform: translate(-50%);
        width: calc(99% + 2.5px);
    }
}
